@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
    --darkf:#ccc;
    --darkb:#333;
    --lightf:#333;
    --lightb:#ccc;
}

* {
    box-sizing: border-box;
}

body {
color: var(--darkf);
background: var(--darkb);
font-family: 'Lato', sans-serif;
font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 4rem;
    margin-bottom: 0;
    font-weight: 900;
}

ol, ul {
    padding: 0;
}

ul {
    list-style: none;
}

li {
    margin:1rem 0;
}

ul li::before {
    content:"» ";
    font-weight: 900;
    font-size: 1.2rem;
}


#start {
    font-weight: 900;
    display: block;
    padding: 1rem 1rem;
    margin: 6rem auto;
    max-width: 300px;
    transition: .2s;
    transition-timing-function: ease-in-out;
    color:var(--lightf);
    background: linear-gradient(var(--darkf), #f63);
    border-radius: 30px;
    box-shadow: 0 0 10px var(--darkf);
}

#eratos {
    max-width: 350px;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}



#start:hover {
    color:var(--darkf);
    background: linear-gradient(#f63, var(--lightf));
    box-shadow: 0 0 2rem #f63;
    padding-left: 2rem;
    padding-right: 2rem;
}


#wrapp {
    width: 100%;
    max-width:960px;
    margin:0 auto;
}


#exemples img {
    width: 100%;
    max-width: 400px;
    margin:1rem auto;
}
